doctype html
html(lang="en")
    head
        title Laser Generator
        link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet")
    body
        #app
        script(src="./index.ts")
